@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
p{
  font-family: Tomorrow;
  color: white;
  font-size: 20px;
}

.cardInfo{
  font-family: Tomorrow;
  color: white;
  font-size: 20px;
  padding: 0px;
}
.body{
  padding:60px;
  /* background-color: black; */
}
.header{
  background-color: white;
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 8px;
  margin: 3px;
  background-color: #484c54;
}
.cardImg{
  object-fit: contain;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardContainer{
  padding: 2px 16px;
}
.title{
  color:white;
  font-size: 18px;
  font-family: Tomorrow;
  padding-left: 0px;
}
.format{
  font-family: Tomorrow;
  color:white;
  font-size: 32px;
  font-family: Roboto;
  font-style: normal;
}
aside{
  padding-right: 6px;
}
.companyName{
  color: white;
  font-family: Tomorrow;
  font-size: 50px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.paint{
  background-color: #282c34;
  color: white;
  font-family: Tomorrow;
  font-size: 28px;
}

.nav{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-right: 80px;
  margin-left: 20px;
  margin-top: 10px;
  border-bottom: white;
}
.leRow{
  display:flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap:wrap;
  /* margin-right: 80px;
  margin-left: 80px;
  margin-top: 10px; */
}
.leCol{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.navitem{
  color:white;
  font-size: 18px;
  font-family: Tomorrow;
  padding-left: 15px;
}

.itemContainer{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.infoContainer{
  display: flex;
  margin-right: 80px;
  margin-left: 80px;
  margin-top: 10px;
  flex-direction: row;
}

.descriptionContainer{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: stretch;
}

.textContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  padding: 4px;
  align-content: stretch;
}

.imageContainer{
  padding: 2px;
  display: flex;
  flex-direction: row;
}

img{
  padding:2px;
  height: 200px;
  width: 300px;
}
.coolImages{
  padding:2px;
  height: 300px;
  width: 400px;
  padding-right: 6px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
@media only screen and (max-width: 600px) {
  body {
    padding: 0px;
  }
}
/* a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: azure;
  border-bottom: 2px white;
  text-decoration: underline;
} */

a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}
